# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.metadata/
backend/.settings/
backend/.sonarlint/
backend/.classpath
backend/.project

# Frontend
frontend/node_modules/
frontend/build/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp directories
-p/